<div class="main-content app-content">
  <!-- container -->
  <div class="main-container container-fluid">
    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
      <div class="col-lg-4">
        <div class="card mg-b-10">
          <div class="card-body">
            <div class="ps-0">
              <div class="main-profile-overview">
                <label class="main-content-label tx-13 mg-b-20">Información general</label>
                <div class="main-profile-social-list">
                  <div class="media">
                    <div class="media-icon bg-success-transparent text-primary">
                      <i class="icon ion-md-link"></i>
                    </div>
                    <div class="media-body">
                      <span>Donación</span> <a href="" id="">{{ donacionPaquete.id }}</a>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-icon bg-success-transparent text-success">
                      <i class="icon ion-md-phone-portrait"></i>
                    </div>
                    <div class="media-body">
                      <span>Descripción</span> <a href="" id="">{{ donacionPaquete.descripcion }}</a>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-icon bg-info-transparent text-info">
                      <i class="icon ion-md-locate"></i>
                    </div>
                    <div class="media-body">
                      <span>Fecha de la donación</span> <a href="" id="fechaDonacion">{{ dateDonacion }}</a>
                    </div>
                  </div>
                  <div class="media">
                    <div class="media-icon bg-danger-transparent text-danger">
                      <i class="icon ion-md-contacts"></i>
                    </div>
                    <div class="media-body">
                      <span>Monto de la donacion</span> <a href="" id="">${{ paquete.monto }}</a>
                    </div>
                  </div>
                </div>
                <hr class="mg-y-30" />
              </div>
              <!-- main-profile-overview -->
            </div>
          </div>
        </div>
        <div class="card mg-b-20">
          <div class="card-body">
            <div class="main-content-label tx-13 mg-b-25">Información del donador</div>
            <div class="main-profile-contact-list">
              <div class="media">
                <div class="media-icon bg-success-transparent text-primary">
                  <i class="icon ion-md-phone-portrait"></i>
                </div>
                <div class="media-body">
                  <span>Nombre</span>
                  <div id="">{{ usuario.nombre }} {{ usuario.primerApellido }} {{ usuario.segundoApellido }}</div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon bg-success-transparent text-success">
                  <i class="icon ion-logo-slack"></i>
                </div>
                <div class="media-body">
                  <span>Cédula</span>
                  <div id="">{{ usuario.cedula }}</div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon bg-success-transparent text-success">
                  <i class="icon ion-logo-slack"></i>
                </div>
                <div class="media-body">
                  <span>Correo electrónico</span>
                  <div id="">{{ usuario.correoElectronico }}</div>
                </div>
              </div>
              <div class="media">
                <div class="media-icon bg-success-transparent text-success">
                  <i class="icon ion-logo-slack"></i>
                </div>
                <div class="media-body">
                  <span>Teléfono</span>
                  <div id="">{{ usuario.telefono }}</div>
                </div>
              </div>
            </div>
            <!-- main-profile-contact-list -->
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-6">
        <div class="card" id="basic-alert">
          <div class="card-body">
            <div>
              <h6 class="card-title mb-1">Información de la donación</h6>
              <p class="text-muted card-sub-title">Ingrese a cada pestaña para revisar su información</p>
            </div>
            <div class="text-wrap">
              <div class="example">
                <div class="panel panel-primary tabs-style-1">
                  <div class="tab-menu-heading">
                    <div class="tabs-menu1">
                      <!-- Tabs -->
                      <ul class="nav panel-tabs main-nav-line">
                        <li class="nav-item"><a href="#tab1" class="nav-link active" data-bs-toggle="tab">Donación</a></li>
                        <li class="nav-item"><a href="#tab2" class="nav-link" data-bs-toggle="tab">Iniciar envío</a></li>
                        <li class="nav-item"><a href="#tab3" class="nav-link" data-bs-toggle="tab">Rastreador</a></li>
                        <li class="nav-item"><a href="#tab4" class="nav-link" data-bs-toggle="tab">Actualizar ubicación</a></li>
                        <li class="nav-item"><a href="#tab5" class="nav-link" data-bs-toggle="tab">Finalizar envío</a></li>
                      </ul>
                    </div>
                  </div>
                  <div class="panel-body tabs-menu-body main-content-body-right border-top-0 border">
                    <div class="tab-content">
                      <div class="tab-pane active" id="tab1">
                        <h4 class="tx-18 mb-3">Donación</h4>
                        <div class="m-t-30">
                          <div class="p-t-10">
                            <p><b>Nombre del paquete</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">{{ paquete.nombre }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Descripción</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">{{ paquete.descripcion }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Monto</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">${{ paquete.monto }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Dimensiones</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">{{ paquete.dimensiones }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Monto de envío</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">${{ donacionPaquete.montoEnvio }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Fecha de solicitud</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">{{ dateDonacion }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Monto total</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">${{ donacionPaquete.montoTotal }}</p>
                          </div>
                          <hr />
                          <div class="p-t-10">
                            <p><b>Estado</b></p>
                            <p class="text-muted tx-12 m-b-0" id="">{{ donacionPaquete.estado }}</p>
                          </div>
                        </div>
                        <p></p>
                      </div>
                      <div class="tab-pane" id="tab2">
                        <form class="form-horizontal">
                          <div class="mb-4 main-content-label">Estado de la meta</div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-9">
                                <select name="estadoMeta" class="form-control" id="estadoMeta">
                                  <option>Opcion</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <hr class="mg-y-30" />
                          <div class="mb-4 main-content-label">Monto de la meta</div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-9">
                                <input type="number" id="montoMeta" class="form-control" />
                              </div>
                            </div>
                          </div>
                          <hr class="mg-y-30" />
                          <div class="mb-4 main-content-label">Riesgos</div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-9">
                                <textarea class="form-control" rows="10" id="riesgos"></textarea>
                              </div>
                            </div>
                          </div>
                          <hr class="mg-y-30" />
                          <div class="mb-4 main-content-label">Beneficios</div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-9">
                                <textarea class="form-control" id="beneficios" rows="10"></textarea>
                              </div>
                            </div>
                          </div>
                          <hr class="mg-y-30" />
                          <div class="mb-4 main-content-label">Panorama del mercado</div>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-9">
                                <textarea class="form-control" id="panoramaMercado" rows="10"></textarea>
                              </div>
                            </div>
                          </div>
                        </form>
                        <p></p>
                        <button type="submit" class="btn btn-primary waves-effect waves-light">Actualizar</button>
                      </div>
                      <div class="tab-pane" id="tab3">
                        <div class="tab-pane">
                          <h4 class="tx-18 mb-3">Inscripción</h4>
                          <div class="m-t-30">
                            <div class="p-t-10">
                              <p><b>Nombre</b></p>
                              <p class="text-muted tx-12 m-b-0" id="nombreInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Descripción</b></p>
                              <p class="text-muted tx-12 m-b-0" id="descripcionInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Monto</b></p>
                              <p class="text-muted tx-12 m-b-0" id="montoInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Tipo</b></p>
                              <p class="text-muted tx-12 m-b-0" id="tipoInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Fecha inicial</b></p>
                              <p class="text-muted tx-12 m-b-0" id="fechaInicialInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Fecha de vencimiento</b></p>
                              <p class="text-muted tx-12 m-b-0" id="fechaFinalInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Beneficios</b></p>
                              <p class="text-muted tx-12 m-b-0" id="beneficiosInscripcion"></p>
                            </div>
                            <hr />
                            <div class="p-t-10">
                              <p><b>Estado</b></p>
                              <p class="text-muted tx-12 m-b-0" id="estadoInscripcion"></p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="tab-pane" id="tab4">
                        <h4 class="tx-18 mb-3">Monedero</h4>
                        <div class="p-t-10">
                          <p><b>Saldo actual</b></p>
                          <p class="text-muted tx-12 m-b-0" id="saldoMonedero"></p>
                        </div>
                        <hr />
                        <div class="p-t-10">
                          <p><b>Tipo</b></p>
                          <p class="text-muted tx-12 m-b-0" id="tipoMonedero"></p>
                        </div>
                        <hr />
                        <div class="p-t-10">
                          <p><b>Estado</b></p>
                          <p class="text-muted tx-12 m-b-0" id="estadoMonedero"></p>
                        </div>
                        <hr />
                      </div>
                      <div class="tab-pane" id="tab5">
                        <form class="form-horizontal">
                          <h4 class="tx-18 mb-3">Actualizar contraseña</h4>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-3">
                                <label class="form-label">Contraseña antigua</label>
                              </div>
                              <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="Contraseña antigua" id="contrasenniaAntiguaForm" />
                              </div>
                            </div>
                          </div>
                          <p></p>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-3">
                                <label class="form-label">Nueva contraseña</label>
                              </div>
                              <div class="col-md-9">
                                <input type="password" class="form-control" placeholder="Nueva contraseña" id="contrasenniaNuevaForm" />
                              </div>
                            </div>
                          </div>
                          <p></p>
                          <div class="form-group">
                            <div class="row">
                              <div class="col-md-3">
                                <label class="form-label">Confirmar nueva contraseña</label>
                              </div>
                              <div class="col-md-9">
                                <input
                                  type="password"
                                  class="form-control"
                                  id="confirmarContrasenniaNuevaForm"
                                  placeholder="Confirmar contraseña"
                                />
                              </div>
                            </div>
                          </div>
                        </form>
                        <button type="submit" (click)="prueba()" class="btn btn-primary waves-effect waves-light">Actualizar</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- breadcrumb -->

  <!-- row -->
  <div class="row"></div>
  <!-- row closed -->
</div>
