<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="movimientos">
      <h2 data-cy="movimientosDetailsHeading"><span jhiTranslate="projectApp.movimientos.detail.title">Movimientos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ movimientos.id }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.movimientos.fecha">Fecha</span></dt>
        <dd>
          <span>{{ movimientos.fecha | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.movimientos.monto">Monto</span></dt>
        <dd>
          <span>{{ movimientos.monto }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.movimientos.tipo">Tipo</span></dt>
        <dd>
          <span>{{ movimientos.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.movimientos.descripcion">Descripcion</span></dt>
        <dd>
          <span>{{ movimientos.descripcion }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.movimientos.estado">Estado</span></dt>
        <dd>
          <span>{{ movimientos.estado }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.movimientos.idMonedero">Id Monedero</span></dt>
        <dd>
          <div *ngIf="movimientos.idMonedero">
            <a [routerLink]="['/monederos', movimientos.idMonedero?.id, 'view']">{{ movimientos.idMonedero?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/movimientos', movimientos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
