<footer class="position-relative" id="footer-main">
  <div class="footer pt-lg-7 footer-dark bg-dark">
    <!-- SVG shape -->
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
      <svg
        width="2560px"
        height="100px"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        preserveAspectRatio="none"
        x="0px"
        y="0px"
        viewBox="0 0 2560 100"
        style="enable-background: new 0 0 2560 100"
        xml:space="preserve"
        class="fill-section-secondary"
      >
        <polygon points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <!-- Footer -->
    <div class="container pt-4">
      <div class="row">
        <div class="col-lg-4 mb-5 mb-lg-0">
          <!-- Theme's logo -->
          <a href="index.html">
            <img
              alt="Image placeholder"
              src="https://res.cloudinary.com/moonsoft/image/upload/c_scale,h_91,w_81/v1659593053/Startup_safe_gris_logo_tamca4.png"
              id="footer-logo"
            />
          </a>
          <!-- Webpixels' mission -->
          <p class="mt-4 text-sm opacity-8 pr-lg-4">
            La mejor manera de promover, encontrar y ayudar a Startups. Ayudar e invertir en startups nunca había sido tan fácil.
          </p>
          <!-- Social -->
        </div>
        <div class="col-lg-2 col-6 col-sm-4 ml-lg-auto mb-5 mb-lg-0">
          <h6 class="heading mb-3">Cuentas</h6>
          <ul class="list-unstyled">
            <li><a href="account/register-startup">Empezar como startup</a></li>
            <li><a href="account/register">Empezar como cliente</a></li>
            <li><a href="account/register">Empezar como inversionista</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="heading mb-3">Sobre nosotros</h6>
          <ul class="list-unstyled">
            <li><a href="https://moonsoft-landing.herokuapp.com/" target="_blank">Servicios</a></li>
            <li><a href="https://moonsoft-landing.herokuapp.com/" target="_blank">Contacto</a></li>
            <li><a href="https://moonsoft-landing.herokuapp.com/" target="_blank">Equipo</a></li>
            <li><a href="https://moonsoft-landing.herokuapp.com/" target="_blank">Valores</a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-6 col-sm-4 mb-5 mb-lg-0">
          <h6 class="heading mb-3"></h6>
          <ul class="list-unstyled">
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
          </ul>
        </div>
      </div>
      <hr class="divider divider-fade divider-dark my-4" />
      <div class="row align-items-center justify-content-md-between pb-4">
        <div class="col-md-6">
          <div class="copyright text-sm font-weight-bold text-center text-md-left">
            &copy; 2022 <a href="https://moonsoft-landing.herokuapp.com/" class="font-weight-bold" target="_blank">Moonsoft</a>. Todos los
            derechos reservados
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
