.card-perfil {
  border-radius: 7px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background: #fff;
  background-clip: border-box;
  border-radius: 5px;
  border: 1px solid #deebfd;
  margin-bottom: 1.3rem;
  box-shadow: -8px 12px 18px 0 #dadee8;
}

.main-content {
  max-width: 80% !important;
  margin-left: auto;
  margin-right: auto;
}

.bloque-superior-perfil {
  height: fit-content !important;
}

.a-comentarios {
  cursor: pointer;
}

.btn-comentarios {
  color: #fff !important;
  text-decoration: none !important;
}

.div-progreso {
  text-align: center;
}

.barra-progreso {
  width: 90%;
  height: 2rem;
  text-align: center;
}

.map-direccion {
  width: 55vw;
  height: 25vh;
}

.div-comunicar-startup {
  width: 100%;
}

.planes-de-inversion {
  padding: 1% 0% 0% 1%;
}

.btn-comprar-paquete {
  border-radius: 0;
}

.imagen-startup {
  height: 20rem;
}

.msg-no-existentes {
  color: #5b6e88 !important;
  padding-left: 2%;
}

.tabla-planes {
  width: 100%;
  border-collapse: collapse;
}

.tabla-planes td,
.tabla-planes th {
  border: 1px solid #ddd;
  padding: 8px;
}

// .tabla-planes tr:nth-child(even){
//   background-color: #f2f2f2;
// }

.tabla-planes tr:hover {
  background-color: #ecf0fa;
  border: 1px solid #000;
}

.tabla-planes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0162ec;
  color: white;
}

.tabla-planes td {
  text-align: left;
}

.tabla-planes th {
  text-align: center;
}

.small-td {
  width: 10%;
}
.mid-td {
  width: 20%;
}
.big-td {
  width: 30%;
}
