<aside class="app-sidebar sidebar-scroll" style="justify-content: center">
  <div class="row d-flex flex-row flex-nowrap categorias__cards__cnt" style="overflow-x: auto; overflow-y: hidden">
    <ul class="side-menu justify-content-between">
      <li class="slide mr-3">
        <div class="">
          <div class="d-flex flex-row align-items-center">
            <div class="demo-avatar-group main-img-user mr-3">
              <img src="{{ usuario.imagenURL }}" />
            </div>
            <div class="user-info d-flex flex-column align-items-center">
              <h4 class="fw-semibold mt-3 mb-0">{{ usuario.nombre }}</h4>
              <span class="mb-0">{{ usuario.correoElectronico }}</span>
            </div>
          </div>
        </div>
      </li>
      <li class="slide">
        <a class="side-menu__item" href="comunidad-startup"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-grid-1x2-fill side-menu__icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z"
            /></svg
          ><span class="side-menu__label">Inicio</span></a
        >
      </li>
      <li class="slide">
        <a class="side-menu__item" href="usuario-final/perfil-usuario-final"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-person-circle side-menu__icon"
            viewBox="0 0 16 16"
          >
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
              fill-rule="evenodd"
              d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            /></svg
          ><span class="side-menu__label">Perfil</span></a
        >
      </li>

      <li class="slide">
        <a class="side-menu__item" href="usuario-final/lista-donaciones-usuario"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-check-square-fill side-menu__icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"
            /></svg
          ><span class="side-menu__label">Donaciones</span></a
        >
      </li>

      <li class="slide">
        <a class="side-menu__item" href="#"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-chat-square-dots-fill side-menu__icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
            /></svg
          ><span class="side-menu__label">Mensajes</span></a
        >
      </li>
      <li class="slide">
        <a class="side-menu__item" href="notificaciones-usuarios"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-bell-fill side-menu__icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
            /></svg
          ><span class="side-menu__label">Notificaciones</span></a
        >
      </li>
      <li *ngIf="tipoInversionista" class="slide">
        <a class="side-menu__item" href="usuario-final/lista-reuniones-usuario"
          ><svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-calendar-event-fill side-menu__icon"
            viewBox="0 0 16 16"
          >
            <path
              d="M4 .5a.5.5 0 0 0-1 0V1H2a2 2 0 0 0-2 2v1h16V3a2 2 0 0 0-2-2h-1V.5a.5.5 0 0 0-1 0V1H4V.5zM16 14V5H0v9a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2zm-3.5-7h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5z"
            />
          </svg>
          <span class="side-menu__label">Reuniones</span></a
        >
      </li>
    </ul>
  </div>
</aside>
