<div class="app-sidebar__overlay" data-bs-toggle="sidebar"></div>
<div class="sticky">
  <aside class="app-sidebar sidebar-scroll" style="justify-content: center">
    <div class="main-sidebar-header active">
      <a class="desktop-logo logo-light active" href="index.html"
        ><img src="../../../../content/images/StatupSafe-horizontal-azul.png" class="main-logo" alt="logo"
      /></a>
    </div>
    <div class="main-sidemenu">
      <div class="app-sidebar__user clearfix">
        <div class="dropdown user-pro-body">
          <div class="">
            <img class="avatar avatar-xl brround" src="{{ startup.imagenURL }}" /><span
              class="avatar-status profile-status bg-green"
            ></span>
          </div>
          <div class="user-info">
            <h4 class="fw-semibold mt-3 mb-0">{{ startup.nombreCorto }}</h4>
            <span class="mb-0 text-muted">{{ startup.correoElectronico }}</span>
          </div>
        </div>
      </div>

      <ul class="side-menu justify-content-between">
        <li class="slide">
          <a class="side-menu__item" href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-grid-1x2-fill side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 1a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v14a1 1 0 0 1-1 1H1a1 1 0 0 1-1-1V1zm9 0a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1V1zm0 9a1 1 0 0 1 1-1h5a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1h-5a1 1 0 0 1-1-1v-5z"
              /></svg
            ><span class="side-menu__label">Inicio</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-person-circle side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
              <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
              />
            </svg>
            <span class="side-menu__label">Perfil</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item" routerLink="startup/listar-paquetes-startup" data-bs-toggle="slide" href="javascript:void(0);"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-box2-fill side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M3.75 0a1 1 0 0 0-.8.4L.1 4.2a.5.5 0 0 0-.1.3V15a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4.5a.5.5 0 0 0-.1-.3L13.05.4a1 1 0 0 0-.8-.4h-8.5ZM15 4.667V5H1v-.333L1.5 4h6V1h1v3h6l.5.667Z"
              /></svg
            ><span class="side-menu__label">Paquetes</span><i class="angle fe fe-chevron-down"></i
          ></a>
        </li>
        <li class="slide">
          <a class="side-menu__item" href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-check-square-fill side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm10.03 4.97a.75.75 0 0 1 .011 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.75.75 0 0 1 1.08-.022z"
              /></svg
            ><span class="side-menu__label">Donaciones</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-clipboard-data-fill side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M6.5 0A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3Zm3 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3Z"
              />
              <path
                d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1A2.5 2.5 0 0 1 9.5 5h-3A2.5 2.5 0 0 1 4 2.5v-1ZM10 8a1 1 0 1 1 2 0v5a1 1 0 1 1-2 0V8Zm-6 4a1 1 0 1 1 2 0v1a1 1 0 1 1-2 0v-1Zm4-3a1 1 0 0 1 1 1v3a1 1 0 1 1-2 0v-3a1 1 0 0 1 1-1Z"
              /></svg
            ><span class="side-menu__label">Planes inversión</span><i class="angle fe fe-chevron-down"></i
          ></a>
          <ul class="slide-menu">
            <li class="side-menu__label1"><a href="javascript:void(0);">Icons</a></li>
            <li><a class="slide-item" href="#">Registrar planes </a></li>
            <li><a class="slide-item" href="#">Mis planes</a></li>
          </ul>
        </li>
        <li class="slide">
          <a class="side-menu__item" href="#"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-chat-square-dots-fill side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2h-2.5a1 1 0 0 0-.8.4l-1.9 2.533a1 1 0 0 1-1.6 0L5.3 12.4a1 1 0 0 0-.8-.4H2a2 2 0 0 1-2-2V2zm5 4a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"
              /></svg
            ><span class="side-menu__label">Mensajes</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item" href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-bell-fill side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"
              />
            </svg>
            <span class="side-menu__label">Notificaciones</span></a
          >
        </li>
        <li class="slide">
          <a class="side-menu__item" data-bs-toggle="slide" href="javascript:void(0);">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-graph-up-arrow side-menu__icon"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M0 0h1v15h15v1H0V0Zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5Z"
              />
            </svg>
            <span class="side-menu__label">Reportes</span><i class="angle fe fe-chevron-down"></i
          ></a>
          <ul class="slide-menu">
            <li><a class="slide-item" href="chart-morris.html">Reporte 1</a></li>
            <li><a class="slide-item" href="chart-morris.html">Reporte 2</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </aside>
</div>
<!-- main-sidebar -->
