<div class="page overflow-hidden">

  <div class="main-container container-fluid">
    <div class="row no-gutter">
      <!-- The image half -->
      <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent">
        <div class="row wd-100p mx-auto text-center">
          <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
            <img height="139px" width="352px" src="../content/assets/img/Startup_safe_horizontal_turquesa.png"  alt="logo">
          </div>
        </div>
      </div>
      <!-- The content half -->
      <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
        <div class="login d-flex align-items-center py-2">
          <!-- Demo content-->
          <div class="container p-0">
            <div class="row">
              <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                <div class="mb-5 d-flex">
                  <a href="index.html"><img src="../content/assets/img/Startup_safe_horizontal_turquesa.png" class="sign-favicon-a" height="80px" alt="logo">
                  </a>
                </div>
                <div class="main-card-signin d-md-flex">
                  <div class="wd-100p">
                    <div class="main-signin-header">
                      <h2>Cambio de contraseña</h2>
                      <h4>Por favor ingrese su nueva contraseña</h4>
                      <form #newPasswordform="ngForm" action="#">
                        <div class="form-group">
                          <label>Contraseña</label>
                          <input required [(ngModel)]="newPassword" #updatePassword="ngModel" name="updatePassword" class="form-control" placeholder="Ingrese su nueva contraseña" type="password">
                        </div>
                          <small
                            class="form-text text-danger"
                            *ngIf="newPassword.length < 4 && newPassword"
                            jhiTranslate="global.messages.validate.newpassword.minlength"
                          >
                              Su contraseña no puede tener menos de 4 carácteres
                          </small>

                          <jhi-password-strength-bar [passwordToCheck]="newPassword">
                          </jhi-password-strength-bar>

                        <div class="form-group">
                          <label class="form-label" >Confirmar nueva contraseña</label>
                          <input
                            type="password"
                            class="form-control"
                            required [(ngModel)]="confirmPassword" #updatePasswordConfirm="ngModel"  name="updatePasswordConfirm"
                            placeholder="{{ 'global.form.confirmpassword.placeholder' | translate }}"
                            data-cy="secondPassword"
                          />
                          <div
                            *ngIf="
                                  updatePasswordConfirm.invalid &&
                                  updatePasswordConfirm.dirty || updatePasswordConfirm.touched
                                "
                          >
                            <small
                              class="form-text text-danger"
                              *ngIf="updatePasswordConfirm?.errors?.required"
                              jhiTranslate="global.messages.validate.confirmpassword.required"
                            >
                              Your confirmation password is required.
                            </small>

                            <small
                              class="form-text text-danger"
                              *ngIf="updatePasswordConfirm?.errors?.minlength"
                              jhiTranslate="global.messages.validate.confirmpassword.minlength"
                            >
                              Your confirmation password is required to be at least 4 characters.
                            </small>

                            <small
                              class="form-text text-danger"
                              *ngIf="updatePasswordConfirm?.errors?.maxlength"
                              jhiTranslate="global.messages.validate.confirmpassword.maxlength"
                            >
                              Your confirmation password cannot be longer than 50 characters.
                            </small>
                          </div>
                        </div>

                        <small
                          class="form-text text-danger"
                          *ngIf="newPassword != confirmPassword && confirmPassword && confirmPassword"

                        >
                          Las contraseñas deben ser iguales
                        </small>

                        <button [disabled]="newPasswordform.invalid || (newPassword.length < 4 && newPassword) || newPassword != confirmPassword" (click)="resetPassword()" class="btn btn-main-primary btn-block">
                          <p *ngIf="!loading" class="mb-0">Cambiar contraseña</p>
                          <div *ngIf="loading" class="spinner-btn spinner-border text-light" role="status">
                          </div>
                        </button>
                        <p *ngIf="error" class="text-danger pt-3 text-center">{{errorMessage}}</p>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div><!-- End -->
        </div>
      </div><!-- End -->
    </div>
  </div>

</div>
