<div class="main-content app-content">
  <div class="main-container container-fluid">
    <div class="row row-sm">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header pb-0">
            <div class="d-flex justify-content-between">
              <h4 class="card-title mg-b-0">Lista de Usuarios</h4>
              <i class="mdi mdi-dots-horizontal text-gray"></i>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover mb-0 text-md-nowrap">
                <thead>
                  <tr>
                    <th>Id</th>
                    <th>Descripción</th>
                    <th>Fecha Solicitada</th>
                    <th>Fecha de la Reunión</th>
                    <th>Estado</th>
                    <th class="table-header-centered">Aceptar Fecha Solicitada</th>
                    <th class="table-header-centered">Rechazar Reunión</th>
                    <th class="table-header-centered">Ver reunión</th>
                  </tr>
                </thead>
                <tbody *ngFor="let reunion of reuniones; index as i">
                  <tr>
                    <td>{{ reunion.id }}</td>
                    <td>{{ reunion.descripcion }}</td>
                    <td>{{ reunion.fechaSolicitada }}</td>
                    <td>{{ reunion.fechaReunion }}</td>
                    <td>{{ reunion.estado }}</td>

                    <td *ngIf="reunion.estado === 'Sugerido'; else aceptarDisabled">
                      <button class="btn btn-success btn-block" (click)="aceptarReunion($event)" value="{{ reunion.id }}">Aceptar</button>
                    </td>
                    <ng-template #aceptarDisabled>
                      <td>
                        <button class="btn btn-success btn-block disabled" value="{{ reunion.id }}">Aceptar</button>
                      </td>
                    </ng-template>

                    <td *ngIf="reunion.estado === 'Sugerido'; else rechazarDisabled">
                      <button class="btn btn-danger btn-block" (click)="rechazarReunion($event)" value="{{ reunion.id }}">Rechazar</button>
                    </td>
                    <ng-template #rechazarDisabled>
                      <td>
                        <button class="btn btn-danger btn-block disabled" value="{{ reunion.id }}">Rechazar</button>
                      </td>
                    </ng-template>

                    <td>
                      <button class="btn btn-primary btn-block" (click)="verReunion(reunion.id)">Ver Reunión</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
