<div>
  <h2 id="page-heading" data-cy="ReunionesHeading">
    <span jhiTranslate="projectApp.reuniones.home.title">Reuniones</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projectApp.reuniones.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-reuniones"
        [routerLink]="['/reuniones/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projectApp.reuniones.home.createLabel"> Create a new Reuniones </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="reuniones?.length === 0">
    <span jhiTranslate="projectApp.reuniones.home.notFound">No reuniones found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="reuniones && reuniones.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.url">Url</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.fechaSolicitada">Fecha Solicitada</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.fechaReunion">Fecha Reunion</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.horaReunion">Hora Reunion</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.idStartup">Id Startup</span></th>
          <th scope="col"><span jhiTranslate="projectApp.reuniones.idUsuario">Id Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let reuniones of reuniones; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/reuniones', reuniones.id, 'view']">{{ reuniones.id }}</a>
          </td>
          <td>{{ reuniones.url }}</td>
          <td>{{ reuniones.descripcion }}</td>
          <td>{{ reuniones.fechaSolicitada | formatMediumDatetime }}</td>
          <td>{{ reuniones.fechaReunion | formatMediumDatetime }}</td>
          <td>{{ reuniones.horaReunion | formatMediumDatetime }}</td>
          <td>{{ reuniones.estado }}</td>
          <td>
            <div *ngIf="reuniones.idStartup">
              <a [routerLink]="['/startups', reuniones.idStartup?.id, 'view']">{{ reuniones.idStartup?.correoElectronico }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="reuniones.idUsuario">
              <a [routerLink]="['/usuarios', reuniones.idUsuario?.id, 'view']">{{ reuniones.idUsuario?.correoElectronico }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/reuniones', reuniones.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/reuniones', reuniones.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(reuniones)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
