<!-- main-content -->
<div class="main-container container-fluid">
  <div class="col-lg-12 col-md-12">
    <div class="card">
      <div class="card-body">
        <h1 class="mg-b-5 text-center">Registro de sesión</h1>
        <p class="mg-b-20 text-center">Digite la información requerida para crear la sesión</p>
        <div>
          <hr class="mg-y-30" />
          <h3 class="text-center">Información personal</h3>
          <section>
            <div class="control-group form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Nombre</label>
                    <input type="text" class="form-control required" placeholder="Nombre" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-0">
                    <label class="form-label">Primer apellido</label>
                    <input type="text" class="form-control required" placeholder="Primer apellido" />
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Segundo Apellido</label>
                    <input type="text" class="form-control required" placeholder="Segundo apellido" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-0">
                    <label class="form-label">Cédula</label>
                    <input type="text" class="form-control required" placeholder="Cédula" />
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Fecha de nacimiento</label>
                    <input type="date" class="form-control required" placeholder="Fecha de nacimiento" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-0">
                    <label class="form-label">Foto de perfil</label>
                    <input class="form-control" type="file" id="formFile" />
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group form-group mb-0">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control required" placeholder="Correo electrónico" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-0">
                    <label class="form-label">Teléfono</label>
                    <input type="text" class="form-control required" placeholder="Teléfono" />
                  </div>
                </div>
              </div>
            </div>
            <p></p>
            <div class="control-group form-group mb-0">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Contraseña</label>
                    <input type="text" class="form-control required" placeholder="Contraseña" />
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group mb-0">
                    <label class="form-label">Confirmar contraseña</label>
                    <input type="text" class="form-control required" placeholder="Confirmar contraseña" />
                  </div>
                </div>
              </div>
            </div>
          </section>
          <hr class="mg-y-30" />
          <h3 class="text-center">Información de ubicación</h3>
          <section>
            <div class="control-group form-group">
              <div class="row">
                <div class="col-md-3">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Ubicación</label>
                  </div>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6">
                  <div class="form-group mb-sm-0">
                    <label class="form-label">Latitud</label>
                    <div class="input-group">
                      <input type="text" class="form-control required" />
                    </div>
                  </div>
                  <div class="form-group mb-0">
                    <label class="form-label">Longitud</label>
                    <input type="text" class="form-control required" />
                  </div>
                </div>
              </div>
            </div>
            <div class="control-group form-group">
              <div class="row">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="form-group mb-0">
                    <button type="submit" class="btn btn-primary waves-effect waves-light">Registrar</button>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- main-content closed -->
<script src="../../../content/assets/js/form-wizard.js"></script>
