<div>
  <h2 id="page-heading" data-cy="VotosHeading">
    <span jhiTranslate="projectApp.votos.home.title">Votos</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projectApp.votos.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-votos"
        [routerLink]="['/votos/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projectApp.votos.home.createLabel"> Create a new Votos </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="votos?.length === 0">
    <span jhiTranslate="projectApp.votos.home.notFound">No votos found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="votos && votos.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projectApp.votos.votos">Votos</span></th>
          <th scope="col"><span jhiTranslate="projectApp.votos.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="projectApp.votos.fecha">Fecha</span></th>
          <th scope="col"><span jhiTranslate="projectApp.votos.idStartup">Id Startup</span></th>
          <th scope="col"><span jhiTranslate="projectApp.votos.idUsuario">Id Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let votos of votos; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/votos', votos.id, 'view']">{{ votos.id }}</a>
          </td>
          <td>{{ votos.votos }}</td>
          <td>{{ votos.estado }}</td>
          <td>{{ votos.fecha | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="votos.idStartup">
              <a [routerLink]="['/startups', votos.idStartup?.id, 'view']">{{ votos.idStartup?.correoElectronico }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="votos.idUsuario">
              <a [routerLink]="['/usuarios', votos.idUsuario?.id, 'view']">{{ votos.idUsuario?.correoElectronico }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/votos', votos.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/votos', votos.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(votos)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
