<div class="main-content app-content">
  <!-- container -->
  <div class="main-container container-fluid">
    <div class="row row-sm">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header pb-0">
            <!-- <div class="btn-group mx-2 mt-2 mb-2" role="group" aria-label="First group"> -->
            <div class="d-flex justify-content-between">
              <h4 style="display: inline" class="card-title mg-b-0">Lista de inscripciones</h4>
              <i class="mdi mdi-dots-horizontal text-gray"></i>

              <div class="d-flex my-xl-auto right-content">
                <div class="pt-2">
                  <span class="pr-3">Filtrar: </span>
                </div>
                <div class="pe-1 mb-xl-0">
                  <select (change)="onChange($event)" class="form-control form-select w-select">
                    <option value="Todos">Todos</option>
                    <option value="Mensual">Mensual</option>
                    <option value="Anual">Anual</option>
                  </select>
                </div>
                <input
                  class="form-control mg-b-0"
                  placeholder="Buscar..."
                  type="search"
                  [(ngModel)]="busqueda"
                  #search="ngModel"
                  name="search"
                  (keyup)="searchByName()"
                />
              </div>
            </div>
          </div>
          <div class="card-body">
            <div *ngIf="inscripciones.length > 0" class="table-responsive">
              <table class="table table-hover mb-0 text-md-nowrap">
                <thead>
                  <tr>
                    <th>Monto</th>
                    <th>Nombre</th>
                    <th>Tipo</th>
                    <th>Fecha inicial</th>
                    <th>Startup</th>
                    <th>Estado</th>
                    <th class="table-header-centered"></th>
                    <th class="table-header-centered"></th>
                  </tr>
                </thead>
                <tbody *ngFor="let inscripcion of inscripciones; index as i">
                  <tr>
                    <td>{{ inscripcion.monto }}</td>
                    <td>{{ inscripcion.nombre }}</td>
                    <td>{{ inscripcion.tipo }}</td>
                    <td>{{ inscripcion.fechaInicial.slice(0, 10) }}</td>

                    <td>{{ inscripcion.idStartup.correoElectronico }}</td>
                    <td>{{ inscripcion.estado }}</td>
                    <td>
                      <button
                        class="btn btn-secondary btn-block"
                        (click)="cambiarEstado($event)"
                        value="{{ inscripcion.id }},{{ inscripcion.estado }}"
                      >
                        Cambiar estado
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="inscripciones.length == 0" class="text-center">
              <h4 class="font-weight-bold">No se encontraron resultados</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
