<div class="main-content app-content text-center">
  <!-- container -->
  <div class="main-container container-fluid">
    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between"></div>
    <!-- breadcrumb -->
    <h4 class="mt-6 text-center">Finalice el pago de la inscripción</h4>
    <div class="mt-4 row justify-content-center">
      <ngx-paypal [config]="payPalConfig"></ngx-paypal>
    </div>
    <div class="alert alert-success" *ngIf="success">
      <strong>Pago exitoso!</strong> Ya puede disfrutar de los beneficios de StartupSafe.
    </div>
  </div>
</div>
