<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-paquetes-heading" data-cy="PaquetesCreateUpdateHeading" jhiTranslate="projectApp.paquetes.home.createOrEditLabel">
        Actualizar paquete
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.paquetes.nombre" for="field_nombre">Nombre</label>
          <input type="text" class="form-control" name="nombre" id="field_nombre" data-cy="nombre" formControlName="nombre" />
          <div *ngIf="editForm.get('nombre')!.invalid && (editForm.get('nombre')!.dirty || editForm.get('nombre')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              Este campo es requerido el mínimo es 1 carácter.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('nombre')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 200 }"
            >
              Este campo es requerido el máximo son 200 carácteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.paquetes.monto" for="field_monto">Monto</label>
          <input type="number" class="form-control" name="monto" id="field_monto" data-cy="monto" formControlName="monto" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.paquetes.dimensiones" for="field_dimensiones">Dimensiones</label>
          <input
            type="text"
            class="form-control"
            name="dimensiones"
            id="field_dimensiones"
            data-cy="dimensiones"
            formControlName="dimensiones"
          />
          <div *ngIf="editForm.get('dimensiones')!.invalid && (editForm.get('dimensiones')!.dirty || editForm.get('dimensiones')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dimensiones')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              Este campo es requerido el mínimo es 1 carácter.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dimensiones')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Este campo es requerido el máximo son 50 carácteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.paquetes.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estado')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              Este campo es requerido el mínimo es 1 carácter.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estado')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              Este campo es requerido el máximo son 50 carácteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.paquetes.descripcion" for="field_descripcion">Descripción</label>
          <input
            type="text"
            class="form-control"
            name="descripcion"
            id="field_descripcion"
            data-cy="descripcion"
            formControlName="descripcion"
          />
          <div *ngIf="editForm.get('descripcion')!.invalid && (editForm.get('descripcion')!.dirty || editForm.get('descripcion')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              Este campo es requerido el mínimo es 1 carácter.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('descripcion')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 300 }"
            >
              Este campo es requerido el máximo son 300 carácteres.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.paquetes.idStartup" for="field_idStartup">Id Startup</label>
          <select class="form-control" id="field_idStartup" data-cy="idStartup" name="idStartup" formControlName="idStartup">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="startupsOption.id === editForm.get('idStartup')!.value?.id ? editForm.get('idStartup')!.value : startupsOption"
              *ngFor="let startupsOption of startupsSharedCollection; trackBy: trackStartupsById"
            >
              {{ startupsOption.correoElectronico }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancelar</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Actualizar</span>
        </button>
      </div>
    </form>
  </div>
</div>
