<div class="main-content app-content">
  <div class="main-container container-fluid contenedor">
    <h2>Información de la reunión</h2>

    <div *ngIf="noEditable; else editable" class="row">
      <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
        <div class="card box-shadow-0">
          <div class="card-header">
            <h4 class="card-title mb-1">Datos de la reunión</h4>
          </div>
          <div class="card-body pt-0">
            <div>
              <div class="">
                <div class="form-group">
                  <label for="exampleInputEmail1">Id</label>
                  <input type="text" readonly class="form-control" placeholder="{{ reunion.id }}" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Startup de la reunión</label>
                  <input type="text" readonly class="form-control" placeholder="{{ reunion.idStartup.nombreCorto }}" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Fecha de solicitud</label>
                  <input type="text" readonly class="form-control" placeholder="{{ reunion.fechaSolicitada }}" />
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Descripción de la reunión</label>
                  <input type="text" readonly class="form-control" placeholder="{{ reunion.descripcion }}" />
                </div>
              </div>

              <div class="alert alert-success" *ngIf="urlGuardado">
                <strong>URL guardado con éxito!</strong> Puede esperar mientras el inversionista se conecta a la reunión
              </div>

              <form (ngSubmit)="agregarURL()" [formGroup]="formURL">
                <h6>Ingrese el URL de la reunión para que el inversionista pueda conectarse!</h6>
                <p>
                  En caso de no contar con una reunión, puede presionar el botón <b>"Crear reunión"</b> para crear una, luego copie el URL
                  del navegador y peguelo en el espacio de abajo
                </p>
                <div class="form-group">
                  <label for="exampleInputEmail1">URL de la reunión</label>
                  <input formControlName="URL" type="text" class="form-control" placeholder="{{ reunion.url }}" />
                </div>
                <button type="submit" class="btn btn-success mt-3 mb-0">Guardar URL</button>
                <button class="btn btn-primary mt-3 mb-0 btn-crear-reunion">
                  <a href="https://meet.google.com/new" target="_blank">Crear reunión</a>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ng-template #editable>
      <div class="row">
        <div class="col-md-12 col-xl-12 col-xs-12 col-sm-12">
          <div class="card box-shadow-0">
            <div class="card-header">
              <h4 class="card-title mb-1">Editar reunión</h4>
            </div>
            <div class="card-body pt-0">
              <form (ngSubmit)="actualizarReunion()" [formGroup]="formReunion">
                <div class="">
                  <div class="form-group">
                    <label for="exampleInputPassword1">Inversionista de la reunión</label>
                    <input type="text" readonly class="form-control" placeholder="{{ reunion.idUsuario.correoElectronico }}" />
                  </div>
                  <p><b>Fecha solicitada actual:</b> {{ reunion.fechaSolicitada }}</p>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Nueva fecha de solicitud</label>
                    <input
                      formControlName="fechaSolicitada"
                      type="datetime-local"
                      class="form-control"
                      placeholder="{{ reunion.fechaSolicitada }}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Descripción de la reunión</label>
                    <textarea formControlName="descripcion" rows="4" type="text" value="{{ reunion.descripcion }}" class="form-control">{{
                      reunion.descripcion
                    }}</textarea>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3 mb-0">Actualizar información</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>
