
<div class="page overflow-hidden">

    <div class="main-container container-fluid">
        <div class="row no-gutter">
            <!-- The image half -->
            <div class="col-md-6 col-lg-6 col-xl-7 d-none d-md-flex bg-primary-transparent">
                <div class="row wd-100p mx-auto text-center">
                    <div class="col-md-12 col-lg-12 col-xl-12 my-auto mx-auto wd-100p">
                        <img src="../assets/img/media/forgot.png" class="my-auto ht-xl-80p wd-md-100p wd-xl-80p mx-auto" alt="logo">
                    </div>
                </div>
            </div>
            <!-- The content half -->
            <div class="col-md-6 col-lg-6 col-xl-5 bg-white py-4">
                <div class="login d-flex align-items-center py-2">
                    <!-- Demo content-->
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                                <div class="mb-5 d-flex">
                                    <a href="index.html"><img src="../assets/img/brand/Logo_horizontal_Azul.png" class="sign-favicon-a" height="80px" alt="logo">
                                    <img src="../assets/img/brand/Logo_horizontal_Azul.png" class="sign-favicon-b ht-40" alt="logo">
                                    </a>
                                </div>
                                    <div class="main-card-signin d-md-flex">
                                    <div class="wd-100p">
                                        <div class="main-signin-header">
                                            <h2>Validar código de recuperación</h2>
                                            <form #codeform="ngForm" action="#">
                                                <div class="form-group">
                                                  <label>Código</label>
                                                  <input [(ngModel)]="code" #validateOTP="ngModel" name="validateOTP"  class="form-control" placeholder="Ingrese el código" type="text">
                                                </div>
                                                <button (click)="validate()" class="btn btn-main-primary btn-block">Comprobar</button>
                                                <button (click)="reSendCode()" class="btn btn-main-secundary btn-block">Reenviar Código</button>
                                                <p *ngIf="error" class="text-danger pt-3 text-center">{{errorMessage}}</p>
                                                <p *ngIf="info" class="text-success pt-3 text-center">{{infoMessage}}</p>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End -->
                </div>
            </div><!-- End -->
        </div>
    </div>

</div>
