<div class="main-content app-content">
  <!-- container -->
  <div class="main-container container-fluid">
    <div class="row row-sm">
      <div class="col-xl-12">
        <div class="card">
          <div class="card-header pb-0">
            <!-- <div class="btn-group mx-2 mt-2 mb-2" role="group" aria-label="First group"> -->
            <div class="d-flex justify-content-between">
              <h4 style="display: inline" class="card-title mg-b-0">Lista de paquetes</h4>
              <i class="mdi mdi-dots-horizontal text-gray"></i>
              <a href="startup/registrar-paquetes-startup">
                <button
                  id="agregar-admins-button"
                  style="margin: 0 0 0 0 !important"
                  type="button"
                  class="btn btn-outline-primary mx-2 button-icon mb-1"
                >
                  <i class="fa fa-plus me-2"></i>
                  Agregar paquetes
                </button>
              </a>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover mb-0 text-md-nowrap">
                <thead>
                  <tr>
                    <th>Nombre</th>
                    <th>Monto</th>
                    <th>Descripción</th>
                    <th>Dimensiones</th>
                    <th>Estado</th>
                    <th class="table-header-centered">Activar</th>
                    <th class="table-header-centered">Desactivar</th>
                  </tr>
                </thead>
                <tbody *ngFor="let paquete of paquetes; index as i">
                  <tr>
                    <td>{{ paquete.nombre }}</td>
                    <td>{{ paquete.monto }}</td>
                    <td>{{ paquete.descripcion }}</td>
                    <td>{{ paquete.dimensiones }}</td>
                    <td>{{ paquete.estado }}</td>

                    <td>
                      <button class="btn btn-success btn-block" (click)="activar(paquete)">Activar</button>
                    </td>
                    <td>
                      <button class="btn btn-danger btn-block" (click)="desactivar(paquete)">Desactivar</button>
                    </td>
                    <td>
                      <button
                        type="button"
                        (click)="showEditModal(paquete)"
                        class="btn btn-primary btn-block"
                        data-cy="entityEditButton"
                      >
                        <fa-icon icon="pencil-alt"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                      </button>
                    </td>
                    <td>
                      <button type="submit" (click)="delete(paquete)" class="btn btn-danger btn-block" data-cy="entityDeleteButton">
                        <fa-icon icon="times"></fa-icon>
                        <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
