<div class="row">
  <div class="col-md-9"></div>
  <section class="slice py-7">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2 text-center">
          <!-- Image -->
          <figure class="w-100">
            <img
              alt="Image placeholder"
              src="../../content/assetsLanding/img/svg/illustrations/illustration-3.svg"
              class="img-fluid mw-md-120"
            />
          </figure>
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
          <!-- Heading -->
          <h1 class="display-4 text-center text-md-left mb-3">
            La mejor manera de promover, encontrar y ayudar a <strong class="text-primary">Startups</strong>
          </h1>
          <!-- Text -->
          <p class="lead text-center text-md-left text-muted">Ayudar e invertir en startups nunca había sido tan fácil</p>
          <!-- Buttons -->
          <div class="text-center text-md-left mt-5">
            <a class="btn btn-primary btn-icon" (click)="login()" style="color: white !important">
              <span class="btn-inner--text">Inicia hoy</span>
              <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
            </a>
            <!-- <a class="btn btn-neutral btn-icon d-none d-lg-inline-block" routerLink="account/register">See Illustrations</a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg pt-lg-6 pb-0 pb-lg-6 bg-section-secondary">
    <div class="container">
      <!-- Title -->
      <!-- Section title -->
      <div class="row mb-5 justify-content-center text-center">
        <div class="col-lg-6">
          <h2 class="mt-4">Posibilidades dentro de la aplicación como usuarios</h2>
          <div class="mt-2">
            <p class="lead lh-180">
              Donar, invertir, comentar, votar, buscar y comunidad, son parte de las funcionalidades dentro de la aplicación.
            </p>
          </div>
        </div>
      </div>
      <!-- Card -->
      <div class="row mt-5">
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img
                  src="../../content/assetsLanding/img/svg/illustrations/illustration-5.svg"
                  class="img-fluid img-center"
                  style="height: 150px"
                  alt="Illustration"
                />
              </div>
              <h5 class="h4 lh-130 mb-3">Usuarios regulares</h5>
              <p class="text-muted mb-0">
                Pueden participar en la comunidad donando a Startups, votando y comentando para favorecer las mejores ideas.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img
                  src="../../content/assetsLanding/img/svg/illustrations/illustration-6.svg"
                  class="img-fluid img-center"
                  style="height: 150px"
                  alt="Illustration"
                />
              </div>
              <h5 class="h4 lh-130 mb-3">Inversionistas</h5>
              <p class="text-muted mb-0">
                Influyen grandemente en el ascenso de startups dentro de la comunidad. Permiten llegar al máximo potencial a las Startups.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img
                  src="../../content/assetsLanding/img/svg/illustrations/illustration-7.svg"
                  class="img-fluid img-center"
                  style="height: 150px"
                  alt="Illustration"
                />
              </div>
              <h5 class="h4 lh-130 mb-3">Startups</h5>
              <p class="text-muted mb-0">
                Son el centro de la aplicación, presentan las mejores ideas para que la comunidad las reciba. Como beneficio al donar a las
                Startups, estas proporcionan una prueba de su producto.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg">
    <div class="container">
      <div class="py-6">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-5 order-lg-2">
            <h5 class="h3">Necesita mostrar su idea como Startup en una comunidad activa?</h5>
            <p class="lead my-4">
              Mediante donaciones las Startups podrán devolver a los usuarios e inversionistas una prueba de su idea, que a su vez podrá ser
              rastreada como cualquier pedido regular.
            </p>
            <ul class="list-unstyled mb-0">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                      <i class="fas fa-file-invoice"></i>
                    </div>
                  </div>
                  <div>
                    <span class="h6 mb-0">Perfecto para Startups</span>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                      <i class="fas fa-store-alt"></i>
                    </div>
                  </div>
                  <div>
                    <span class="h6 mb-0">Hasta la puerta de su casa</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="text-center text-md-left mt-2">
              <a class="btn btn-primary btn-icon" style="color: white !important" routerLink="account/register-startup">
                <span class="btn-inner--text">Empezar</span>
                <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
              </a>
            </div>
          </div>

          <div class="col-lg-6 order-lg-1">
            <div class="card mb-0 mr-lg-5">
              <div class="card-body p-2">
                <img
                  alt="Image placeholder"
                  src="../../content/assetsLanding/img/svg/illustrations/illustration-8.svg"
                  class="img-fluid shadow rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="py-6">
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-5">
            <h5 class="h3">Una comunidad que crece en conjunto</h5>
            <p class="lead my-4">
              Las donaciones, comentarios y votos permiten que las Startups crezcan y los usuarios puedan seguir su progreso como un equipo.
            </p>
            <ul class="list-unstyled mb-0">
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                      <i class="fas fa-file-invoice"></i>
                    </div>
                  </div>
                  <div>
                    <span class="h6 mb-0">Donar te devuelve un prototipo</span>
                  </div>
                </div>
              </li>
              <li class="py-2">
                <div class="d-flex align-items-center">
                  <div>
                    <div class="icon icon-shape bg-primary text-white icon-sm rounded-circle mr-3">
                      <i class="fas fa-store-alt"></i>
                    </div>
                  </div>
                  <div>
                    <span class="h6 mb-0">Votar beneficia a las Startups</span>
                  </div>
                </div>
              </li>
            </ul>
            <div class="text-center text-md-left mt-2">
              <a
                class="btn btn-primary btn-icon"
                routerLink="account/register-startup"
                style="color: white !important"
                routerLink="account/register"
              >
                <span class="btn-inner--text">Iniciar hoy</span>
                <span class="btn-inner--icon"><i data-feather="chevron-right"></i></span>
              </a>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card mb-0 ml-lg-5">
              <div class="card-body p-2">
                <img
                  alt="Image placeholder"
                  src="../../content/assetsLanding/img/svg/illustrations/illustration-9.svg"
                  class="img-fluid shadow rounded"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg bg-section-secondary">
    <div class="container text-center">
      <div class="row justify-content-center mb-6">
        <div class="col-lg-8">
          <!-- Title -->
          <h2 class="h1 strong-600">Plan de inscripción para Startups</h2>
          <!-- Text -->
          <p class="text-muted">Mediante inscripciones, las Startups podrán potenciar su actividad en la comunidad.</p>
        </div>
      </div>
      <!-- Pricing -->
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md">
          <div class="card card-pricing text-center px-3 hover-scale-110">
            <div class="card-header py-5 border-0 delimiter-bottom">
              <div class="h1 text-center mb-0">$<span class="price font-weight-bolder">8</span></div>
              <span class="h6 text-muted">Mensual</span>
            </div>
            <div class="card-body">
              <ul class="list-unstyled text-sm mb-4">
                <li class="py-2">Potenciar su empresa</li>
                <li class="py-2">Más acercamiento a la experiencia de clientes</li>
                <li class="py-2">Accesibilidad a clientes</li>
              </ul>
              <a routerLink="account/register-startup" class="btn btn-sm btn-warning hover-translate-y-n3 hover-shadow-lg mb-3">Obtener</a>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md">
          <div class="card card-pricing bg-dark text-center px-3 border-0 hover-scale-110">
            <div class="card-header py-5 border-0 delimiter-bottom">
              <div class="h1 text-white text-center mb-0">$<span class="price font-weight-bolder">65</span></div>
              <span class="h6 text-white">Anual</span>
            </div>
            <div class="card-body">
              <ul class="list-unstyled text-white text-sm opacity-8 mb-4">
                <li class="py-2">Interacción con posibles clientes</li>
                <li class="py-2">Acceso a inversionistas</li>
                <li class="py-2">Conseguir donaciones de forma rápida</li>
              </ul>
              <a routerLink="account/register-startup" class="btn btn-white btn-sm btn-white hover-translate-y-n3 hover-shadow-lg mb-3"
                >Iniciar</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
