<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-comentarios-heading"
        data-cy="ComentariosCreateUpdateHeading"
        jhiTranslate="projectApp.comentarios.home.createOrEditLabel"
      >
        Create or edit a Comentarios
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.comentarios.comentario" for="field_comentario">Comentario</label>
          <input
            type="text"
            class="form-control"
            name="comentario"
            id="field_comentario"
            data-cy="comentario"
            formControlName="comentario"
          />
          <div *ngIf="editForm.get('comentario')!.invalid && (editForm.get('comentario')!.dirty || editForm.get('comentario')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comentario')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('comentario')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 1000 }"
            >
              This field cannot be longer than 1000 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.comentarios.estado" for="field_estado">Estado</label>
          <input type="text" class="form-control" name="estado" id="field_estado" data-cy="estado" formControlName="estado" />
          <div *ngIf="editForm.get('estado')!.invalid && (editForm.get('estado')!.dirty || editForm.get('estado')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estado')?.errors?.minlength"
              jhiTranslate="entity.validation.minlength"
              [translateValues]="{ min: 1 }"
            >
              This field is required to be at least 1 characters.
            </small>
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('estado')?.errors?.maxlength"
              jhiTranslate="entity.validation.maxlength"
              [translateValues]="{ max: 50 }"
            >
              This field cannot be longer than 50 characters.
            </small>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.comentarios.fecha" for="field_fecha">Fecha</label>
          <div class="d-flex">
            <input
              id="field_fecha"
              data-cy="fecha"
              type="datetime-local"
              class="form-control"
              name="fecha"
              formControlName="fecha"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.comentarios.idStartup" for="field_idStartup">Id Startup</label>
          <select class="form-control" id="field_idStartup" data-cy="idStartup" name="idStartup" formControlName="idStartup">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="startupsOption.id === editForm.get('idStartup')!.value?.id ? editForm.get('idStartup')!.value : startupsOption"
              *ngFor="let startupsOption of startupsSharedCollection; trackBy: trackStartupsById"
            >
              {{ startupsOption.correoElectronico }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="projectApp.comentarios.idUsuario" for="field_idUsuario">Id Usuario</label>
          <select class="form-control" id="field_idUsuario" data-cy="idUsuario" name="idUsuario" formControlName="idUsuario">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="usuariosOption.id === editForm.get('idUsuario')!.value?.id ? editForm.get('idUsuario')!.value : usuariosOption"
              *ngFor="let usuariosOption of usuariosSharedCollection; trackBy: trackUsuariosById"
            >
              {{ usuariosOption.correoElectronico }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
