<div>
  <h2 id="page-heading" data-cy="FacturasHeading">
    <span jhiTranslate="projectApp.facturas.home.title">Facturas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="projectApp.facturas.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-facturas"
        [routerLink]="['/facturas/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="projectApp.facturas.home.createLabel"> Create a new Facturas </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="facturas?.length === 0">
    <span jhiTranslate="projectApp.facturas.home.notFound">No facturas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="facturas && facturas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.monto">Monto</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.descripcion">Descripcion</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.fecha">Fecha</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.impuesto">Impuesto</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.adicional">Adicional</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.nombreReceptor">Nombre Receptor</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.apellidoReceptor">Apellido Receptor</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.correoReceptor">Correo Receptor</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.nombreStartup">Nombre Startup</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.correoStartup">Correo Startup</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.estado">Estado</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.idDonacionPaquete">Id Donacion Paquete</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.idStartup">Id Startup</span></th>
          <th scope="col"><span jhiTranslate="projectApp.facturas.idUsuario">Id Usuario</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let facturas of facturas; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/facturas', facturas.id, 'view']">{{ facturas.id }}</a>
          </td>
          <td>{{ facturas.monto }}</td>
          <td>{{ facturas.descripcion }}</td>
          <td>{{ facturas.fecha | formatMediumDatetime }}</td>
          <td>{{ facturas.impuesto }}</td>
          <td>{{ facturas.adicional }}</td>
          <td>{{ facturas.nombreReceptor }}</td>
          <td>{{ facturas.apellidoReceptor }}</td>
          <td>{{ facturas.correoReceptor }}</td>
          <td>{{ facturas.nombreStartup }}</td>
          <td>{{ facturas.correoStartup }}</td>
          <td>{{ facturas.estado }}</td>
          <td>
            <div *ngIf="facturas.idDonacionPaquete">
              <a [routerLink]="['/donaciones-paquetes', facturas.idDonacionPaquete?.id, 'view']">{{ facturas.idDonacionPaquete?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="facturas.idStartup">
              <a [routerLink]="['/startups', facturas.idStartup?.id, 'view']">{{ facturas.idStartup?.correoElectronico }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="facturas.idUsuario">
              <a [routerLink]="['/usuarios', facturas.idUsuario?.id, 'view']">{{ facturas.idUsuario?.correoElectronico }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/facturas', facturas.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/facturas', facturas.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(facturas)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
