<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="monederos">
      <h2 data-cy="monederosDetailsHeading"><span jhiTranslate="projectApp.monederos.detail.title">Monederos</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ monederos.id }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.monederos.tipo">Tipo</span></dt>
        <dd>
          <span>{{ monederos.tipo }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.monederos.saldo">Saldo</span></dt>
        <dd>
          <span>{{ monederos.saldo }}</span>
        </dd>
        <dt><span jhiTranslate="projectApp.monederos.estado">Estado</span></dt>
        <dd>
          <span>{{ monederos.estado }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/monederos', monederos.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
