<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<div class="main-container container-fluid">
  <div class="d-flex justify-content-center">
    <div class="col-md-8">
      <div class="alert alert-success" *ngIf="success">Su cuenta ha sido verificada, ya puede iniciar sesión.</div>

      <div class="alert alert-danger" *ngIf="error" jhiTranslate="register.messages.error.fail">
        <strong>Registro no existoso!</strong> Inténtelo otra vez.
      </div>
    </div>
  </div>
  <!-- Page -->
  <div class="page">
    <div class="main-container container-fluid">
      <div class="row no-gutter">
        <div class="justify-content-center bg-white py-4">
          <div class="login d-flex align-items-center py-2">
            <!-- Demo content-->
            <div class="container p-0">
              <div class="row">
                <div class="col-md-10 col-lg-10 col-xl-9 mx-auto">
                  <div class="card-sigin">
                    <div class="mb-4 d-flex">
                      <a href="index.html"
                        ><img src="../../../content/images/StatupSafe-horizontal-azul.png" class="sign-favicon-a ht-50" alt="logo" />
                        <img src="../assets/img/brand/favicon-white.png" class="sign-favicon-b ht-40" alt="logo" />
                      </a>
                    </div>
                    <div class="main-signup-header">
                      <h2 class="text-primary">Registro de planes de inversión</h2>
                      <h5 class="fw-normal mb-4">Digite la información requerida para registrar el plan.</h5>
                      <div>
                        <div>
                          <div class="col-md-8">
                            <div class="alert alert-success" *ngIf="success">
                              <strong>Registro finalizado!</strong> Será redirigido al listado de planes. Gracias por escoger StartupSafe.
                            </div>
                          </div>
                        </div>

                        <div>
                          <form name="form" role="form" (ngSubmit)="registrarPlanInversion()" [formGroup]="registerForm" *ngIf="!success">
                            <div class="form-group">
                              <label class="form-label" for="codigo">Nombre</label>
                              <input
                                type="text"
                                class="form-control"
                                id="nombre"
                                name="nombre"
                                placeholder="Nombre"
                                formControlName="nombre"
                                data-cy="username"
                                #nombre
                              />
                              <div
                                *ngIf="
                                  registerForm.get('nombre')!.invalid &&
                                  (registerForm.get('nombre')!.dirty || registerForm.get('nombre')!.touched)
                                "
                              >
                                <small class="form-text text-danger" *ngIf="registerForm.get('nombre')?.errors?.required">
                                  Nombre requerido.
                                </small>

                                <small class="form-text text-danger" *ngIf="registerForm.get('nombre')?.errors?.minlength">
                                  Tamaño del nombre debe ser mayor a 3 dígitos.
                                </small>
                                <small class="form-text text-danger" *ngIf="registerForm.get('nombre')?.errors?.maxlength">
                                  Tamaño del nombre debe ser menor a 100 dígitos.
                                </small>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="codigo">Monto</label>
                              <input
                                type="number"
                                class="form-control"
                                id="monto"
                                name="monto"
                                placeholder="Monto"
                                formControlName="monto"
                                data-cy="username"
                                #monto
                              />
                              <div
                                *ngIf="
                                  registerForm.get('monto')!.invalid &&
                                  (registerForm.get('monto')!.dirty || registerForm.get('monto')!.touched)
                                "
                              >
                                <small class="form-text text-danger" *ngIf="registerForm.get('monto')?.errors?.required">
                                  Monto requerido.
                                </small>

                                <small class="form-text text-danger" *ngIf="registerForm.get('monto')?.errors?.minlength">
                                  Tamaño del monto debe ser mayor a 4 dígitos.
                                </small>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="codigo">Descripción</label>
                              <textarea
                                id="descripcion"
                                class="form-control"
                                cols="30"
                                rows="10"
                                formControlName="descripcion"
                                #descripcion
                              ></textarea>
                              <div
                                *ngIf="
                                  registerForm.get('descripcion')!.invalid &&
                                  (registerForm.get('descripcion')!.dirty || registerForm.get('descripcion')!.touched)
                                "
                              >
                                <small class="form-text text-danger" *ngIf="registerForm.get('descripcion')?.errors?.required">
                                  Descripción requerida.
                                </small>

                                <small class="form-text text-danger" *ngIf="registerForm.get('descripcion')?.errors?.minlength">
                                  Tamaño de la descripción debe ser mayor a 10 dígitos.
                                </small>

                                <small class="form-text text-danger" *ngIf="registerForm.get('descripcion')?.errors?.maxlength">
                                  Tamaño de la descripción debe ser menor a 300 dígitos.
                                </small>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="codigo">Beneficios del plan</label>
                              <textarea
                                id="beneficios"
                                class="form-control"
                                cols="10"
                                rows="5"
                                formControlName="beneficios"
                                #beneficios
                              ></textarea>
                              <div
                                *ngIf="
                                  registerForm.get('beneficios')!.invalid &&
                                  (registerForm.get('beneficios')!.dirty || registerForm.get('beneficios')!.touched)
                                "
                              >
                                <small class="form-text text-danger" *ngIf="registerForm.get('beneficios')?.errors?.required">
                                  Beneficios requeridos.
                                </small>

                                <small class="form-text text-danger" *ngIf="registerForm.get('beneficios')?.errors?.minlength">
                                  Los beneficios deben tener 10 dígitos o más.
                                </small>

                                <small class="form-text text-danger" *ngIf="registerForm.get('beneficios')?.errors?.maxlength">
                                  Los beneficios deben tener 300 dígitos o menos.
                                </small>
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="form-label" for="porcentajeEmpresarial">Porcentaje empresarial</label>
                              <input
                                type="number"
                                class="form-control"
                                id="porcentajeEmpresarial"
                                name="porcentajeEmpresarial"
                                formControlName="porcentajeEmpresarial"
                                data-cy="username"
                                #porcentajeEmpresarial
                              />
                              <div
                                *ngIf="
                                  registerForm.get('porcentajeEmpresarial')!.invalid &&
                                  (registerForm.get('porcentajeEmpresarial')!.dirty || registerForm.get('porcentajeEmpresarial')!.touched)
                                "
                              >
                                <small class="form-text text-danger" *ngIf="registerForm.get('porcentajeEmpresarial')?.errors?.required">
                                  Porcentaje empresarial requerido.
                                </small>
                                <small class="form-text text-danger" *ngIf="registerForm.get('porcentajeEmpresarial')?.errors?.pattern">
                                  Tamaño del porcentaje empresarial debe ser menor a 3 dígitos.
                                </small>
                              </div>
                            </div>
                            <p></p>
                            <div class="form-group">
                              <button
                                type="submit"
                                [disabled]="registerForm.invalid"
                                class="btn btn-main-primary btn-block"
                                data-cy="submit"
                              >
                                Registrar plan
                              </button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End -->
          </div>
        </div>
        <!-- End -->
      </div>
    </div>
  </div>
</div>
